//- src/views/tareas/avance.pug
extends ../layout

block content
  div(class='header')
    h1= titulo
    h2= user.nombre

    if error_msg
      p(style="color: red")= error_msg
    if success_msg
      p(style="color: green")= success_msg

  form(action=`/tareas/avance/${tarea._id}`, method='POST')
    label(for='titulo') Título:
    input(type='text', name='titulo', id='titulo', value=tarea.titulo, required)

    div.inblock
      label(for='area').inline Área:
      p.inline= tarea.area.nombre

    label(for='descripcion').inline Descripción:
    //- p.inline #{tarea.descripcion}
    textarea(name='descripcion', id='descripcion')= tarea.descripcion

    label(for='estado').inline Estado: 
    p.inline #{tarea.estado ? tarea.estado.nombre : 'Sin estado'}
    select(name='estado', id='estado')
      option(value='') Sin Estado
      each estado in estados
        option(
          value=estado._id
          selected=(tarea.estado && tarea.estado._id.toString() === estado._id.toString())
        )= estado.nombre

    label(for='prioridad').inline Prioridad:
    p.inline= tarea.prioridad.nombre
    select(name='prioridad', id='prioridad')
      option(value='') Sin Prioridad
      each prioridad in prioridades
        option(
          value=prioridad._id
          selected=(tarea.prioridad && tarea.prioridad._id.toString() === prioridad._id.toString())
        )= prioridad.nombre

    label(for='usuarioAsignado').inline Usuario Asignado:
    p.inline= tarea.usuarioAsignado.nombre
    select(name='usuarioAsignado', id='usuarioAsignado')
      option(value='') Sin Asignar
      each usuario in usuarios
        option(
          value=usuario._id
          selected=(tarea.usuarioAsignado && tarea.usuarioAsignado._id.toString() === usuario._id.toString())
        )= usuario.nombre

    label(for='fechaVencimiento').inline Fecha de Vencimiento:
    p.inline= formatDate(tarea.fechaVencimiento)

    table
      thead
        tr
          th descripción avance
          th usuario ejecutor
          th fecha de avance
      tbody
        each a in tarea.avance
          tr
            td= a.descripcion_avance
            td= a.usuario_ejecutor.nombre
            td= formatDate(a.fecha_avance)

    div(class="registrar-avance")
      label(for='fecha_avance') Nuevo Avance: #{formatDate(fecha_avance)}
      label(for='descripcion_avance') Descripción de avance:
      textarea(name='descripcion_avance', id='descripcion_avance')

    button(type='submit') Avanzar con Tarea
    a.btn.btn-primary.volver(href='/tareas') Volver a Tareas