//- src/views/tareas/crear.pug
extends ../layout

block content
  div(class='header')
    h1= titulo
    h2= user.nombre
  form(action='/tareas/crear', method='POST')
    label(for='titulo') Título:
    input(type='text', name='titulo', id='titulo', required)
    
    //- label(for='area') Area:
    //- select(name='area', id='area', required)
    //-   option(value='') Sin Area
    //-   each area in areas
    //-     option(value=area._id)= area.nombre
    
    label(for='tarea_padre') Tarea padre:
    input(type='text', name='tarea_padre', id='tarea_padre')
    
    label(for='descripcion') Descripción:
    textarea(name='descripcion', id='descripcion')
    
    label(for='estado') Estado: 'Inicializada'
    //- select(name='estado', id='estado')
    //-   option(value='') Sin Estado
    //-   each estado in estados
    //-     option(value=estado._id)= estado.nombre
    
    label(for='prioridad') Prioridad:
    select(name='prioridad', id='prioridad')
      option(value='') Sin Prioridad
      each prioridad in prioridades
        option(value=prioridad._id)= prioridad.nombre
    
    //- label(for='usuarioResponsable') Usuario Responsable:
    //- select(name='usuarioResponsable', id='usuarioResponsable')
    //-   option(value='') Sin Asignar
    //-   each usuario in usuarios
    //-     option(value=usuario._id)= usuario.nombre

    label(for='usuarioAsignado') Usuario Asignado:
    select(name='usuarioAsignado', id='usuarioAsignado')
      option(value='') Sin Asignar
      each usuario in usuarios
        option(value=usuario._id)= usuario.nombre
    

    
    h3 Roles con Permiso

    div
      label(for='roles_con_permiso.modificar').inline Permisos para editar tarea   
      p.inline.ctrlText usa 'ctrl' para sumar selecciones
      select(name='roles_con_permiso.modificar[]', id='roles_con_permiso.modificar', multiple)
        option(value='') Sin Asignar
        each rol in roles
          option(value=rol._id)= rol.nombre 
      
    div
      label(for='roles_con_permiso.avance').inline Permisos para registrar avance   
      p.inline.ctrlText usa 'ctrl' para sumar selecciones
      select(name='roles_con_permiso.avance[]', id='roles_con_permiso.avance', multiple)
        option(value='') Sin Asignar
        each usuario in usuarios
          option(value=usuario._id)= usuario.nombre
      
    div
      label(for='roles_con_permiso.caducar').inline Permisos para caducar   
      p.inline.ctrlText usa 'ctrl' para sumar selecciones
      select(name='roles_con_permiso.caducar[]', id='roles_con_permiso.caducar', multiple)
        option(value='') Sin Asignar
        each rol in roles
          option(value=rol._id)= rol.nombre
    
    label(for='fechaVencimiento') Fecha de Vencimiento:
    input(type='date', name='fechaVencimiento', id='fechaVencimiento')

    button(type='submit') Crear Tarea
    a.btn.btn-primary.volver(href='/tareas') Volver a Tareas

    //- div
    //-   h3 Avance 
    //-   div 
    //-     label(for='descripcion_avance') Descripcion de avance
    //-     textarea(name='avance.descripcion_avance', id='descripcion_avance')

    //-     lavel(for='avance.fecha_avance') Fecha avance
    //-     input(type='date', name='avance.fecha_avance', id='fecha_avance')


    
    
